*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
/* Home Page */
.container{
    width: 100%;
    height: 94vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),transparent),url(images/wedding-pic.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
}
.text-box{
    color:#fff;
    position: absolute;
    top: 8%; 
}
.text-box p{
    font-size: 50px;
    font-weight: 600;
}
.text-box h1{
    font-size: 100px;
    line-height: 160px;
    margin-left: -10px;
}
.text-box h3{
    font-size: 30px;
    font-weight: 500;
}
.header {
    padding: 30px; 
    text-align: center; 
    background: rgb(134 2 15);
    color: white; 
  }
  .header h1 {
    font-size: 40px;
  }
  
  /* other pages */

* {
    box-sizing: border-box;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .side {
    flex: 30%; 
    background-color: #e9e7db; 
    padding: 20px; 
    margin-right: -50px;
    list-style: none;
  }
  .side ul li {
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
  }
  .side ul li a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    padding: 8px 25px;
    transition: all .5s ease;
}
.side ul li a:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
  .main {
    flex: 70%; 
    background-color: rgb(193 187 153);  
    padding: 20px; 
  }
  .main img {
    height:600px;
    width: 500px;
  }
  .main ul li {
    font-family: century;
    font-size: 1.5rem;
  }
  article {
    display: inline-block;
    width: 350px;
    height: 500px;
    padding: 20px;
}
ul {
    padding-left: 50px;
}

li {
    margin-bottom: 24px;
    list-style: none;
}

img {
    display: inline-block;
    width: 300px;     
}

/* Footer*/

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(134 2 15);
    position: sticky;
    top: 0;
}
.social ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.social ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.social ul li a{
    text-decoration: none;
    color:white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.social ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

/* Nav Bar*/

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(134 2 15); 
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color:white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}


